<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecom.account.persistent.CustomerMapper">
    <!-- cache queries for 50 mins -->
    <cache flushInterval="3000000" />

    <resultMap id="customer" type="com.ecom.account.persistent.Customer">
        <result property="id" column="id"/>
        <result property="fname" column="fname"/>
        <result property="lname" column="lname"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="getCustomer" resultMap="customer" useCache="false" fetchSize="1000">
        select u.id, u.fname, u.lname, u.address
        from user u
        where u.id = #{id}
    </select>

</mapper>
